* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.container {
  margin: 30px auto;
  padding: 0 auto;
  width: 100%;
}
@media (max-width: 576px) {
  .container {
    margin: auto;
    padding: auto;
  }
}

a {
  text-decoration: none;
  color: white;
}

body {
  position: relative;
}

.fa-user::before {
  content: "\f007";
}

.home_header {
  z-index: 1;
  width: 100%;
  position: absolute;
  margin: 20px auto;
  width: 100%;
}
.home_header .header_top {
  display: flex;
  justify-content: space-between;
  color: white;
}
.home_header .header_top .header_icon {
  height: auto;
}
.home_header .header_top .header_icon i {
  border: 1px solid white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  color: white;
  margin-left: 10px;
}
.home_header .header_top .header_icon i:hover {
  color: red;
  border-color: red;
}
.home_header .header_top .header_title {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.home_header .header_top .header_title button {
  display: none;
}
.home_header .header_top .header_title h1 {
  text-align: center;
  margin-bottom: 0;
}
.home_header .header_top .header_title h1 a {
  line-height: 50px;
}
.home_header .header_top .header_title h1 a:hover {
  color: red;
}
@media (max-width: 576px) {
  .home_header .header_top .header_title button {
    display: block;
    border-color: white;
    width: 50px;
  }
  .home_header .header_top .header_title button .navbar-toggler-icon {
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 100%;
  }
  .home_header .header_top .header_title button .navbar-toggler-icon::before {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.home_header .header_bottom {
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  color: white;
}
.home_header .header_bottom .header_nav {
  background-color: #1E345E;
  border-radius: 30px;
}
.home_header .header_bottom .header_nav .navbar .nav-link {
  color: white;
}
.home_header .header_bottom .header_nav .navbar .nav-link:hover {
  color: red;
}
.home_header .header_bottom #header_search {
  width: 30%;
  height: 100%;
  padding: 0 5px;
  border: 1px solid white;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  background-color: white;
  color: gray;
}
.home_header .header_bottom #header_search i,
.home_header .header_bottom #header_search input {
  margin: auto;
  margin-left: 5px;
}
.home_header .header_bottom #header_search input {
  background-color: transparent;
  border: none;
}
.home_header .header_bottom #header_search input:focus {
  box-shadow: none;
}
@media (min-width: 576px) {
  .home_header .header_nav {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .home_header .header_top {
    width: 100%;
    margin: 0 auto;
  }
  .home_header .header_bottom {
    margin: 0 auto;
    justify-content: flex-end;
  }
  .home_header .header_bottom .header_nav {
    width: 100%;
    border: none;
    background-color: transparent;
  }
  .home_header .header_bottom .header_nav .container-fluid {
    padding: 0;
    justify-content: flex-end;
  }
  .home_header .header_bottom .header_nav .show {
    width: 100%;
    background-color: #1E345E;
    padding: 20px;
  }
  .home_header .header_bottom .header_nav button {
    background-color: white;
  }
  .home_header .header_bottom #header_search {
    width: 100%;
  }
}

.shoe_carousel {
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 50vh;
  padding-top: 300px;
  color: white;
}
.shoe_carousel .container {
  margin-bottom: 0;
}
.shoe_carousel .container #carouselExampleAutoplaying {
  margin: auto;
  font-weight: 700;
}
.shoe_carousel .container #carouselExampleAutoplaying .item-left {
  margin-top: 20px;
}
.shoe_carousel .container #carouselExampleAutoplaying .item-left h2 {
  font-size: 30px;
}
.shoe_carousel .container #carouselExampleAutoplaying .item-left h1 {
  font-size: 80px;
  font-weight: 900;
  color: green;
}
.shoe_carousel .container #carouselExampleAutoplaying .item-left p {
  font-size: 20px;
  margin: 20px 0;
  line-height: 2;
}
.shoe_carousel .container #carouselExampleAutoplaying .item-left button {
  background-color: rgb(17, 227, 17);
  color: black;
  text-align: center;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 30px;
}
.shoe_carousel .container #carouselExampleAutoplaying .item-right {
  height: 50%;
}
.shoe_carousel .container #carouselExampleAutoplaying .item-right img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  -webkit-animation: move 5s infinite;
          animation: move 5s infinite;
}
@media (max-width: 576px) {
  .shoe_carousel {
    min-height: 10vh;
    padding-top: 150px;
  }
}

@-webkit-keyframes move {
  0% {
    transform: rotate(-45deg) translate(20px, 20px);
  }
  50% {
    transform: rotate(-45deg) translate(20px, -20px);
  }
  100% {
    transform: rotate(-45deg) translate(20px, 20px);
  }
}

@keyframes move {
  0% {
    transform: rotate(-45deg) translate(20px, 20px);
  }
  50% {
    transform: rotate(-45deg) translate(20px, -20px);
  }
  100% {
    transform: rotate(-45deg) translate(20px, 20px);
  }
}
.flash_sale {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 20px;
}
.flash_sale .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px 0;
}
.flash_sale .sales_title {
  width: 15%;
  -ms-writing-mode: tb-rl;
      writing-mode: tb-rl;
  transform: rotate(180deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 0 10px;
}
.flash_sale .sales_title h4 {
  font-size: 24px;
  font-weight: 700;
  color: #d7d7d7;
}
.flash_sale .sales_title h3 {
  font-size: 48px;
  font-weight: 700;
  color: #d7d7d7;
}
.flash_sale .sales_content {
  width: 85%;
}
.flash_sale .sales_content h4 {
  font-size: 30px;
  font-weight: 700;
  color: #222222;
  margin-bottom: 40px;
}

.sales_container {
  padding-right: 20px;
  text-align: center;
}
.sales_container .sales_img {
  background-color: #f5f5f5;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding: 0 20px;
}
.sales_container .sales_img img {
  width: 100%;
  aspect-ratio: 1/1.1;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.5s;
}
.sales_container .sales_img .img_percent {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #bbffbb;
  border-radius: 20px;
  padding: 5px 14px;
}
.sales_container .sales_img .img_percent i {
  font-size: 11px;
  color: #222222;
}
.sales_container .sales_img .img_percent span {
  font-size: 11px;
  font-weight: 600;
  color: #222222;
}
.sales_container .sales_img .img_interact {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sales_container .sales_img .img_interact i {
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 50%;
  background-color: white;
  font-size: 14px;
  color: #727272;
  margin-bottom: 10px;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  display: block;
  transform: translateX(65px);
}
.sales_container .sales_img .img_interact i:nth-child(1):hover {
  background-color: #ff0060;
}
.sales_container .sales_img .img_interact i:nth-child(1).active {
  color: white;
  background-color: red;
}
.sales_container .sales_img .img_interact i:nth-child(2) {
  transition: transform 0.7s;
}
.sales_container .sales_img .img_interact i:hover {
  background-color: black;
  color: white;
}
.sales_container .sales_img .img_add {
  background-color: #e7e8eb;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  border-radius: 50px;
  padding: 0 20px;
  transition: all 0.5s;
  transform: translateY(70px);
}
.sales_container .sales_img .img_add h5 {
  font-size: 10px;
  font-weight: 700;
  color: #222222;
  margin: 0;
  line-height: 46px;
}
.sales_container .sales_img .img_add:hover {
  background-color: black;
}
.sales_container .sales_img .img_add:hover h5 {
  color: white;
}
.sales_container .sales_info {
  margin-top: 30px;
}
.sales_container .sales_info h4 {
  font-size: 14px;
  font-weight: 700;
  color: #222222;
  transition: all 0.5s;
  margin: 0;
}
.sales_container .sales_info h4:hover {
  color: #2ed573;
}
.sales_container .sales_info .info_stars {
  font-size: 13px;
  margin: 10px 0;
}
.sales_container .sales_info .info_prices {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sales_container .sales_info .info_prices h5 {
  font-size: 14px;
  font-weight: 700;
  color: #222222;
}
.sales_container .sales_info .info_prices h5:nth-child(2) {
  margin-left: 20px;
  -webkit-text-decoration: line-through #222222;
          text-decoration: line-through #222222;
  color: #9b9b9b;
}
.sales_container:hover img {
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.5));
}
.sales_container:hover .img_interact i {
  transform: translateX(0);
}
.sales_container:hover .img_add {
  transform: translateY(0);
}

#home_trending h4 {
  font-size: 30px;
  font-weight: 700;
  color: #222222;
  line-height: 51px;
  padding-top: 48px;
}
#home_trending .trending_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#home_trending .trending_grid .grid_item {
  position: relative;
  overflow: hidden;
}
#home_trending .trending_grid .grid_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#home_trending .trending_grid .grid_item .shoe_overlay {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
#home_trending .trending_grid .grid_item .shoe_overlay button {
  background-color: white;
  border-radius: 50px;
  border: none;
  padding: 1vw 2vw;
  transition: all 0.5s;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
#home_trending .trending_grid .grid_item .shoe_overlay button:hover {
  color: black;
  background-color: #2ed573;
  border-color: transparent;
}
#home_trending .trending_grid .grid_item:nth-child(1) {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
#home_trending .trending_grid .grid_item:nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}
#home_trending .trending_grid .grid_item:nth-child(5) {
  grid-row: 3/span 2;
}
#home_trending .trending_grid .grid_item:nth-child(6) {
  grid-column: 1/span 2;
  grid-row: 5/span 1;
}
#home_trending .trending_grid .grid_item:nth-child(9) {
  grid-column: span 2;
  grid-row: span 2;
}
#home_trending .trending_grid .grid_item:after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(255, 255, 255, 0.15);
  transform: skewX(-20deg);
  transition: all 0.5s;
}
#home_trending .trending_grid .grid_item:hover:after {
  left: 150%;
}
#home_trending .trending_grid .grid_item-shoe {
  position: relative;
  border: 1px solid #e7e8eb;
}
#home_trending .trending_grid .grid_item-shoe img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.5s;
}
#home_trending .trending_grid .grid_item-shoe .shoe_overlay {
  position: absolute;
  top: 2vw;
  left: 2vw;
  bottom: 2vw;
  right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#home_trending .trending_grid .grid_item-shoe .shoe_overlay h5 {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
  color: #222222;
}
#home_trending .trending_grid .grid_item-shoe .shoe_overlay .shoe_price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#home_trending .trending_grid .grid_item-shoe .shoe_overlay .shoe_price h5 {
  font-size: 16px;
  font-weight: 700;
  color: #222222;
}
#home_trending .trending_grid .grid_item-shoe .shoe_overlay .shoe_price i {
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  background-color: black;
  color: white;
  margin-left: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
#home_trending .trending_grid .grid_item-shoe .shoe_overlay .shoe_price i:hover {
  background-color: #2ed573;
  color: black;
}
#home_trending .trending_grid .grid_item-shoe:nth-child(4) {
  grid-row: 4/span 1;
}
#home_trending .trending_grid .grid_item-shoe:hover img {
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.5));
}

#myModal .container .modal-dialog, #myLoginModal .container .modal-dialog {
  margin: 0;
  max-width: 100%;
}
#myModal .container .form_content, #myLoginModal .container .form_content {
  text-align: center;
}
#myModal .container .form_content .register_login_item .input-group, #myLoginModal .container .form_content .register_login_item .input-group {
  display: flex;
  gap: 20px;
}
#myModal .container .form_content .register_login_item .input-group label, #myLoginModal .container .form_content .register_login_item .input-group label {
  width: 15%;
  text-align: left;
}
#myModal .container .form_content .register_login_item .input-group .form-control-input, #myModal .container .form_content .register_login_item .input-group select, #myLoginModal .container .form_content .register_login_item .input-group .form-control-input, #myLoginModal .container .form_content .register_login_item .input-group select {
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}
#myModal .container .form_content .register_login_item span, #myLoginModal .container .form_content .register_login_item span {
  color: red;
  width: 100%;
  text-align: left;
}
#myModal .container .btn-save-footer, #myModal .container .btn-login-footer, #myLoginModal .container .btn-save-footer, #myLoginModal .container .btn-login-footer {
  background-color: rgb(17, 227, 17);
  color: black;
  text-align: center;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 30px;
}
#myModal .container .btn-close-footer, #myLoginModal .container .btn-close-footer {
  background-color: rgb(202, 194, 194);
  color: black;
  text-align: center;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 30px;
}
.home_deal {
  position: relative;
}
.home_deal .home_deal_new {
  position: absolute;
  min-height: 250px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.home_deal .home_deal_new .container {
  height: 100%;
}
.home_deal .home_deal_new .container .flashsale_content .deal-carousel-item {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  transition: all 1.5s;
}
.home_deal .home_deal_new .container .flashsale_content .deal-carousel-item .flashsale_title {
  color: red;
}
.home_deal .home_deal_new .container .flashsale_content .deal-carousel-item i {
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
}
.home_deal .home_deal_new .container .flashsale_content .deal-carousel-item i:hover {
  cursor: pointer;
  color: black;
}
.home_deal .home_deal_new .container .flashsale_content .deal-carousel-item button {
  background-color: rgb(17, 227, 17);
  color: black;
  text-align: center;
  font-size: 20px;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  .home_deal .home_deal_new .container {
    margin: 20px auto;
  }
  .home_deal .home_deal_new .container .flashsale_content .deal-carousel-item button {
    background-color: rgb(17, 227, 17);
    color: black;
    text-align: center;
    font-size: 15px;
    width: 150px;
    height: 50px;
    border-radius: 30px;
    text-transform: uppercase;
  }
}
.home_deal .home_deal_content {
  padding-top: 100px;
  width: 100%;
}
.home_deal .home_deal_content .container {
  margin-bottom: 200px;
}
.home_deal .home_deal_content .container .row {
  gap: 30px;
}
.home_deal .home_deal_content .container .row .deal_item {
  min-height: 200px;
  width: 30%;
  position: relative;
  margin: 0;
}
.home_deal .home_deal_content .container .row .deal_item::after {
  position: absolute;
  bottom: -15px;
  right: -20px;
  width: 100%;
  height: 100%;
  background-color: #B5E4DE;
  content: "";
  border-radius: 20px;
}
.home_deal .home_deal_content .container .row .deal_item .deal_outside {
  background-color: white;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.home_deal .home_deal_content .container .row .deal_item .deal_outside img {
  position: absolute;
  width: 80%;
  height: 100%;
  top: 40%;
  transform: translateX(-65%) rotate(-45deg);
  left: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home_deal .home_deal_content .container .row .deal_item .deal_outside .deal_overlay {
  position: absolute;
  right: 20%;
  bottom: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: red;
  font-size: 20px;
  transform: rotate(270deg) translateY(250%) translateX(-20px);
  z-index: 2;
  color: rgb(106, 99, 99);
  transition: all 0.5;
  text-align: center;
}
.home_deal .home_deal_content .container .row .deal_item .deal_outside .deal_overlay h3 {
  line-height: 25px;
  font-size: 20px;
}
.home_deal .home_deal_content .container .row .deal_item .deal_outside .deal_overlay div {
  width: 40px;
  height: 40px;
  line-height: 25px;
}
.home_deal .home_deal_content .container .row .deal_item .deal_outside .deal_overlay div i {
  border-radius: 50%;
  background-color: black;
  text-align: center;
  line-height: 40px;
  color: white;
  font-size: 20px;
  transform: translateX(-30px);
  cursor: pointer;
}
.home_deal .home_deal_content .container .row .deal_item .deal_outside .deal_overlay div i::before {
  content: "";
}
.home_deal .home_deal_content .container .row .deal_item .deal_outside:hover .deal_overlay div > i, .home_deal .home_deal_content .container .row .deal_item .deal_outside:hover .deal_overlay h3 {
  transition: all 0.5s;
  transform: translateX(30px);
  display: block;
}
.home_deal .home_deal_content .container .row .deal_item .deal_outside:hover .deal_overlay div > i {
  width: 100%;
  height: 100%;
  transform: translateX(30px) rotate(90deg);
}
.home_deal .home_deal_content .container .row .deal_item .deal_outside:hover .deal_overlay div > i::before {
  content: "\f061";
}
@media (max-width: 720px) {
  .home_deal .home_deal_content {
    padding-top: 200px;
  }
  .home_deal .home_deal_content .container {
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 0 30px;
  }
  .home_deal .home_deal_content .container .row .deal_item {
    width: 90%;
    margin-bottom: 100px;
    height: 300px;
  }
}/*# sourceMappingURL=main.css.map */