@mixin styleButton ($bg: rgb(17, 227, 17), $color: black, $border_radius: 30px, $fs: 20px){
    background-color: $bg;
    color: $color;
    text-align: center;
    font-size: $fs;
    width: 150px;
    height: 50px;
    border-radius: $border_radius;
}

@mixin testStyle($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
  }
  
  @mixin buttonStyle(
    $bg-color,
    $radius,
    $border,
    $padding,
    $color-hover,
    $bg-hover,
    $border-hover
  ) {
    background-color: $bg-color;
    border-radius: $radius;
    border: $border;
    padding: $padding;
    transition: all 0.5s;
    &:hover {
      color: $color-hover;
      background-color: $bg-hover;
      border-color: $border-hover;
    }
  }
  
  @mixin iconStyle($width, $height, $bg-color) {
    width: $width;
    height: $height;
    text-align: center;
    line-height: $height;
    border-radius: 50%;
    background-color: $bg-color;
  }