@mixin styleButton ($bg: rgb(17, 227, 17), $color: black, $border_radius: 30px, $fs: 20px){
    background-color: $bg;
    color: $color;
    text-align: center;
    font-size: $fs;
    width: 150px;
    height: 50px;
    border-radius: $border_radius;
}