.flash_sale {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 400px 20px 20px;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
      }
    .sales_title {
      width: 15%;
      writing-mode: tb-rl;
      transform: rotate(180deg);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 0 0 10px;
      h4 {
        @include testStyle($fs-24, $fw-bold, $text-fade);
      }
      h3 {
        @include testStyle($fs-48, $fw-bold, $text-fade);
      }
    }
    .sales_content {
      width: 85%;
      h4 {
        @include testStyle($fs-30, $fw-bold, $text-primary);
        margin-bottom: 40px;
      }
    }
  }
  
  .sales_container {
    padding-right: 20px;
    text-align: center;
    .sales_img {
      background-color: #f5f5f5;
      position: relative;
      cursor: pointer;
      overflow: hidden;
      padding: 0 20px;
      img {
        width: 100%;
        aspect-ratio: 1 / 1.1;
        object-fit: contain;
        transition: all 0.5s;
      }
      .img_percent {
        position: absolute;
        top: 20px;
        left: 20px;
        background-color: #bbffbb;
        border-radius: 20px;
        padding: 5px 14px;
        i {
          font-size: $fs-11;
          color: $text-primary;
        }
        span {
          @include testStyle($fs-11, $fw-semibold, $text-primary);
        }
      }
      .img_interact {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
          @include iconStyle(42px, 42px, white);
          font-size: $fs-14;
          color: #727272;
          margin-bottom: 10px;
          box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
          transition: all 0.5s;
          display: block;
          transform: translateX(65px);
          &:nth-child(1) {
            &:hover {
              background-color: $heart-bg;
            }
            &.active {
              color: white;
              background-color: red;
            }
          }
          &:nth-child(2) {
            transition: transform 0.7s;
          }
          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
      .img_add {
        background-color: #e7e8eb;
        position: absolute;
        bottom: 20px;
        left: 20px;
        width: calc(100% - 40px);
        border-radius: 50px;
        padding: 0 20px;
        transition: all 0.5s;
        transform: translateY(70px);
        h5 {
          @include testStyle($fs-10, $fw-bold, $text-primary);
          margin: 0;
          line-height: 46px;
        }
        &:hover {
          background-color: black;
          h5 {
            color: white;
          }
        }
      }
    }
    .sales_info {
      margin-top: 30px;
      h4 {
        @include testStyle($fs-14, $fw-bold, $text-primary);
        transition: all 0.5s;
        margin: 0;
        &:hover {
          color: $primary-hover;
        }
      }
      .info_stars {
        font-size: $fs-13;
        margin: 10px 0;
      }
      .info_prices {
        display: flex;
        justify-content: center;
        align-items: center;
        h5 {
          @include testStyle($fs-14, $fw-bold, $text-primary);
          &:nth-child(2) {
            margin-left: 20px;
            text-decoration: line-through $text-primary;
            color: $text-fade-hover;
          }
        }
      }
    }
    &:hover {
      img {
        filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.5));
      }
      .img_interact {
        i {
          transform: translateX(0);
        }
      }
      .img_add {
        transform: translateY(0);
      }
    }
  }
  
  #home_trending {
    h4 {
      @include testStyle($fs-30, $fw-bold, $text-primary);
      line-height: 51px;
      padding-top: 48px;
    }
    .trending_grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .grid_item {
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .shoe_overlay {
          position: absolute;
          bottom: 40px;
          left: 50%;
          transform: translateX(-50%);
          button {
            @include buttonStyle(
              white,
              50px,
              none,
              1vw 2vw,
              black,
              $primary-hover,
              transparent
            );
            color: $text-primary;
            font-size: $fs-14;
            font-weight: $fw-bold;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
          }
        }
        &:nth-child(1) {
          grid-column: 1 / span 2;
          grid-row: 1 / span 2;
        }
        &:nth-child(2) {
          grid-column: span 2;
          grid-row: span 2;
        }
        &:nth-child(5) {
          grid-row: 3 / span 2;
        }
        &:nth-child(6) {
          grid-column: 1 / span 2;
          grid-row: 5 / span 1;
        }
        &:nth-child(9) {
          grid-column: span 2;
          grid-row: span 2;
        }
        &:after {
          content: "";
          display: block;
          width: 50%;
          height: 100%;
          position: absolute;
          top: 0;
          left: -100%;
          background-color: rgba(255, 255, 255, 0.15);
          transform: skewX(-20deg);
          transition: all 0.5s;
        }
        &:hover {
          &:after {
            left: 150%;
          }
        }
      }
      .grid_item-shoe {
        position: relative;
        border: 1px solid #e7e8eb;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          transition: all 0.5s;
        }
        .shoe_overlay {
          position: absolute;
          top: 2vw;
          left: 2vw;
          bottom: 2vw;
          right: 2vw;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          h5 {
            margin: 0;
            @include testStyle($fs-13, $fw-semibold, $text-primary);
          }
          .shoe_price {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            h5 {
              @include testStyle($fs-16, $fw-bold, $text-primary);
            }
            i {
              @include iconStyle(36px, 36px, black);
              color: white;
              margin-left: 10px;
              transition: all 0.5s;
              cursor: pointer;
              &:hover {
                background-color: $primary-hover;
                color: black;
              }
            }
          }
        }
        &:nth-child(4) {
          grid-row: 4 / span 1;
        }
        &:hover {
          img {
            filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.5));
          }
        }
      }
    }
  }