.home_header {
  z-index: 1;
  width: 100%;
  position: absolute;
  margin: 20px auto;
  width: 100%;
  .header_top {
    display: flex;
    justify-content: space-between;
    color: $color;
    .header_icon {
      height: auto;
      i {
        border: 1px solid $color;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
        height: 50px;
        width: 50px;
        text-align: center;
        color: $color;
        margin-left: 10px;
        &:hover{
          color: red;
          border-color: red;
        }
      }
      
    }
    .header_title{
      h1{
        a{
          &:hover{
            color: red;
          }
        }
      }
      
    }
    
  }
  .header_bottom {
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    color: $color;

    .header_nav {
      background-color: $bg-100;
      border-radius: 30px;
      .navbar {
        .nav-link {
          color: $color;
          &:hover{
            color: red;
          }
        }
      }
    }
    #header_search {
      width: 30%;
      height: 100%;
      padding: 0 5px;
      border: 1px solid $color;
      border-radius: 20px;
      overflow: hidden;
      text-align: center;
      background-color: $color;
      color: gray;
      i,
      input {
        margin: auto;
        margin-left: 5px;
      }
      input {
        background-color: transparent;
        border: none;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
  @media (min-width: 576px) {
    .header_nav {
      width: 100%;
      margin: 0 auto;
    }
  }

  @media (max-width: 576px) {
    
    .header_top {
      width: 100%;
      margin: 0 auto;
    }
    .header_bottom {
      margin: 0 auto;
        
      justify-content: flex-end;
      .header_nav {
        width: 100%;
        border: none;
        background-color: transparent;
        .container-fluid{
          padding: 0;
            justify-content: flex-end;
        }
        .show{
          width: 100%;
            background-color: $bg-100;
            padding: 20px;
        }
        button {
          background-color: $color;
        }
      }
      #header_search {
        width: 100%;
      }
    }
  }
}
