.home_deal {
  position: relative;
  .home_deal_new {
    position: absolute;
    min-height: 250px;
    width: 100%;
    background-color: black;
    color: $color;
    text-align: center;
    .container {
      height: 100%;
      .flashsale_content {
        .deal-carousel-item {
          display: flex;
          justify-content: center;
          gap: 30px;
          font-size: 20px;
          line-height: 40px;
          text-align: center;
          transition: all 1.5s;
          .flashsale_title {
            color: red;
          }
          i {
            text-align: center;
            height: 40px;
            width: 40px;
            line-height: 40px;
            border-radius: 50%;
            &:hover {
              cursor: pointer;
              color: black;
            }
          }
          button {
            @include styleButton();
            text-transform: uppercase;
          }
        }
      }
      @media (max-width: 576px) {
        margin: 20px auto;

        .flashsale_content {
          .deal-carousel-item {
            button {
              @include styleButton($fs: 15px);
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
  .home_deal_content {
    position: absolute;
    top: 100px;
    width: 100%;
    .container {
      
      .row {
        gap: 30px;
        .deal_item {
          min-height: 200px;
          width: 30%;
          position: relative;
          margin: 0;
          &::after {
            position: absolute;
            bottom: -15px;
            right: -20px;
            width: 100%;
            height: 100%;
            background-color: #B5E4DE;
            content: "";
            border-radius: 20px;
          }
          .deal_outside {
            background-color: $color;
            border-radius: 20px;
            height: 100%;
            width: 100%;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;

            img {
              position: absolute;
              width: 80%;
              height: 100%;
              top: 40%;
              transform: translateX(-65%) rotate(-45deg);
              left: 50%;
              object-fit: cover;
            }

            .deal_overlay {
              position: absolute;
              right: 20%;
              bottom: 70px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              gap: 10px;
              color: red;
              font-size: 20px;
              transform: rotate(270deg) translateY(250%) translateX(-20px);
              z-index: 2;
              color: rgb(106, 99, 99);
              transition: all 0.5;
              text-align: center;
              h3 {
                line-height: 25px;
                font-size: 20px;
              }
              div {
                width: 40px;
                height: 40px;
                line-height: 25px;
                i {
                  border-radius: 50%;
                  background-color: black;
                  text-align: center;
                  line-height: 40px;
                  color: $color;
                  font-size: 20px;
                  transform: translateX(-30px);
                  cursor: pointer;
                  &::before{
                    content: "";
                  }
                }
                
              }
            }
            &:hover {
              .deal_overlay{
                
                div>i,h3{
                  transition: all 0.5s;
                  transform: translateX(30px);
                  display: block;
                }
                div > i{
                  &::before{
                    content: "\f061";
                  }
                  width: 100%;
                  height: 100%;
                  transform: translateX(30px) rotate(90deg) ;
                }
                
              }
            }
          }
        }
      }
    }
    @media (max-width: 720px) {
      top: 200px;
      .container {
        margin: 0 auto;
        padding: 0 30px;
        .row {
          .deal_item {
            width: 90%;
            margin-bottom: 150px;
            height: 300px;
          }
        }
      }
    }
  }
}
