#myModal{
    .container{
        .modal-dialog{
            margin: 0;
            max-width: 100%;
        }
        .form_content{
            text-align: center;
            .register_item{
                .input-group{
                    display: flex;
                    gap: 20px;
                    
                    label{
                        width: 15%;
                        float: left;
                    }
                    .form-control-input,select{
                       width: 80%;
                       border: 1px solid black;
                       border-radius: 10px;
                       padding: 5px 10px;
                    }
                }
                span{

                }
            }
            .row{
                
                .form_left{
                   
                }
                .form_right{
                    
                }
            }
            
            
        }
        .btn-save-footer{
            @include styleButton()
        }
        .btn-close-footer{
            @include styleButton($bg: rgb(202, 194, 194))
        }
    }
    @media (max-width: 576px) {
        
    }
}