.container{
    margin: 30px auto;
    padding: 0 auto;
    width: 100%;
    @media (max-width: 576px) {
        margin: auto;
        padding: auto;
    }
}

a{
    text-decoration: none;
    color: $color;
}

body{
    position: relative;
}

.fa-user{
    &::before{
        content: $user_icon;
    }
    
}
